In [45]:
%matplotlib inline
import pandas as pd
from IPython.core.display import HTML
css=open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>()</style>'.format(css))
titles=pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

# 1 How many movies are listed in the titles datframe?

In [4]:

num_movies_listed = titles.shape[0]
print("Number of movies listed in the 'titles' dataframe:", num_movies_listed)

Number of movies listed in the 'titles' dataframe: 244914

# 2 What are the earliest two films listed in the titles dataframe?

In [52]:
earliest_films = titles.sort_values(by='year').head(2)
print("The earliest two films listed in the 'titles' DataFrame:")
print(earliest_films)

The earliest two films listed in the 'titles' DataFrame:
                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

# 3 How many movies have the title 'Hamlet'?

In [6]:
hamlet_count = (titles['title'] == 'Hamlet').sum()
print("Number of movies with the title 'Hamlet':", hamlet_count)

Number of movies with the title 'Hamlet': 20

# 4 how many movies have the title 'North by Northwest'?

In [7]:
north_by_northwest_count = (titles['title'] == 'North by Northwest').sum()
print("Number of movies titled 'North by Northwest':", north_by_northwest_count)

Number of movies titled 'North by Northwest': 1

# 5 when the first movie hamlet made?

In [8]:
hamlet_movies = titles[titles['title'] == 'Hamlet']
earliest_hamlet_movie_year = hamlet_movies['year'].min()
print("The first movie titled 'Hamlet' was made in the year:", earliest_hamlet_movie_year)

The first movie titled 'Hamlet' was made in the year: 1910

# 6 List all the 'Treasure island' from the earliest to most recent

In [9]:
treasure_island_movies = titles[titles['title'] == 'Treasure Island']
sorted_treasure_island_movies = treasure_island_movies.sort_values(by='year')
print("List of 'Treasure Island' movies from earliest to most recent:")
print(sorted_treasure_island_movies)

List of 'Treasure Island' movies from earliest to most recent:
                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

# 7 how many movies were made in 1950

In [10]:
movies_in_1950 = titles[titles['year'] == 1950]
num_movies_in_1950 = movies_in_1950.shape[0]
print("Number of movies made in the year 1950:", num_movies_in_1950)

Number of movies made in the year 1950: 1113

# 8 how many movies were made in 1960

In [11]:
movies_in_1960 = titles[titles['year'] == 1960]
num_movies_in_1960 = movies_in_1960.shape[0]
print("Number of movies made in the year 1960:", num_movies_in_1960)

Number of movies made in the year 1960: 1549

# 9 how many movies were made thougt 1950 to 1559?

In [12]:
movies_in_1950s = titles[(titles['year'] >= 1950) & (titles['year'] <= 1959)]
num_movies_in_1950s = movies_in_1950s.shape[0]
print("Number of movies made from 1950 through 1959:", num_movies_in_1950s)

Number of movies made from 1950 through 1959: 12934

# 10 when 'Batman' been released?

In [14]:
batman_movies = titles[titles['title'] == 'Batman']
unique_years = batman_movies['year'].unique()
print("Years in which a movie titled 'Batman' has been released:", unique_years)

Years in which a movie titled 'Batman' has been released: [1943 1989]

# 11 How many roles were there in the movie "Inception"?

In [28]:
cast = pd.read_csv("cast.csv")
inception_cast = cast[cast['title'] == 'Inception']
num_roles_in_inception = inception_cast['character'].nunique()
print("Number of roles in the movie 'Inception':", num_roles_in_inception)

Number of roles in the movie 'Inception': 56

# 12 How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [26]:
cast = pd.read_csv("cast.csv")
inception_cast = cast[cast['title'] == 'Inception']
num_roles_not_ranked = inception_cast['n'].isna().sum()
print("Number of roles in the movie 'Inception' that are NOT ranked by an 'n' value:", num_roles_not_ranked)

Number of roles in the movie 'Inception' that are NOT ranked by an 'n' value: 27

# 13 But how many roles in the movie "Inception" did receive an "n" value?

In [27]:
cast = pd.read_csv("cast.csv")
inception_cast = cast[cast['title'] == 'Inception']
num_roles_with_n_value = inception_cast['n'].count()
print("Number of roles in the movie 'Inception' that received an 'n' value:", num_roles_with_n_value)

Number of roles in the movie 'Inception' that received an 'n' value: 51

# 14 Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [31]:
cast = pd.read_csv("cast.csv")
north_by_northwest_cast = cast[cast['title'] == 'North by Northwest']
north_by_northwest_cast = north_by_northwest_cast[pd.to_numeric(north_by_northwest_cast['n'], errors='coerce').notnull()]
north_by_northwest_cast = north_by_northwest_cast.sort_values(by='n')
print(north_by_northwest_cast[['n', 'name']])

            n                  name
871426    1.0            Cary Grant
3518333   2.0       Eva Marie Saint
1457165   3.0           James Mason
3157232   4.0   Jessie Royce Landis
356707    5.0        Leo G. Carroll
3048272   6.0  Josephine Hutchinson
1695173   7.0           Philip Ober
1275337   8.0         Martin Landau
2447081   9.0         Adam Williams
1811387  10.0          Edward Platt
665768   11.0     Robert Ellenstein
2295714  12.0          Les Tremayne
464736   13.0       Philip Coolidge
1508344  14.0         Patrick McVey
206471   15.0          Edward Binns
1384780  16.0             Ken Lynch

# 15 Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [30]:
cast = pd.read_csv("cast.csv")
sleuth_1972_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 1972)]
sleuth_1972_cast = sleuth_1972_cast.sort_values(by='n')
print(sleuth_1972_cast[['n', 'name']])

           n                name
1705394  1.0    Laurence Olivier
326773   2.0       Michael Caine
373876   3.0      Alec Cawthorne
1465483  4.0  John (II) Matthews
2724553  5.0  Eve (III) Channing
1448690  6.0        Teddy Martin

# 16 Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [29]:
cast = pd.read_csv("cast.csv")
sleuth_2007_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 2007)]
sleuth_2007_cast = sleuth_2007_cast.sort_values(by='n')
print(sleuth_2007_cast[['n', 'name']])

           n                 name
326774   1.0        Michael Caine
1293634  2.0             Jude Law
1805907  3.0        Harold Pinter
260242   NaN      Kenneth Branagh
373877   NaN  Alec (II) Cawthorne
2724552  NaN    Eve (II) Channing
3370424  NaN    Carmel O'Sullivan

# 17 How many roles were credited in the silent 1921 version of Hamlet?

In [ ]:
cast = pd.read_csv("cast.csv")
hamlet_1921_cast = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1921)]
num_roles_in_hamlet_1921 = hamlet_1921_cast['character'].nunique()
print("Number of roles credited in the silent 1921 version of 'Hamlet':", num_roles_in_hamlet_1921)

# 18 How many roles were credited in Branagh's 1996 Hamlet?

In [ ]:
cast = pd.read_csv("cast.csv")
branagh_hamlet_1996_cast = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1996) & (cast['name'] == 'Kenneth Branagh')]
num_roles_in_branagh_hamlet_1996 = branagh_hamlet_1996_cast['character'].nunique()
print("Number of roles credited in Kenneth Branagh's 1996 version of 'Hamlet':", num_roles_in_branagh_hamlet_1996)

# 19 How many "Hamlet" roles have been listed in all film credits through history?

In [32]:
hamlet_roles = cast[cast['title'] == 'Hamlet']
num_hamlet_roles = hamlet_roles['character'].nunique()
print("Number of 'Hamlet' roles listed in all film credits through history:", num_hamlet_roles)

Number of 'Hamlet' roles listed in all film credits through history: 112

# 20 How many people have played an "Ophelia"?

In [33]:
ophelia_actors = cast[cast['character'] == 'Ophelia']
num_ophelia_actors = ophelia_actors['name'].nunique()
print("Number of people who have played the role of 'Ophelia':", num_ophelia_actors)

Number of people who have played the role of 'Ophelia': 115

# 21How many people have played a role called "The Dude"?

In [34]:
the_dude_actors = cast[cast['character'] == 'The Dude']
num_the_dude_actors = the_dude_actors['name'].nunique()
print("Number of people who have played a role called 'The Dude':", num_the_dude_actors)

Number of people who have played a role called 'The Dude': 19

# 22How many people have played a role called "The Stranger"?

In [35]:
the_stranger_actors = cast[cast['character'] == 'The Stranger']
num_the_stranger_actors = the_stranger_actors['name'].nunique()
print("Number of people who have played a role called 'The Stranger':", num_the_stranger_actors)

Number of people who have played a role called 'The Stranger': 202

# 23How many roles has Sidney Poitier played throughout his career?

In [36]:
sidney_poitier_roles = cast[cast['name'] == 'Sidney Poitier']
num_sidney_poitier_roles = sidney_poitier_roles['character'].nunique()
print("Number of roles played by Sidney Poitier throughout his career:", num_sidney_poitier_roles)

Number of roles played by Sidney Poitier throughout his career: 41

# 24How many roles has Judi Dench played?

In [37]:
judi_dench_roles = cast[cast['name'] == 'Judi Dench']
num_judi_dench_roles = judi_dench_roles['character'].nunique()
print("Number of roles played by Judi Dench:", num_judi_dench_roles)

Number of roles played by Judi Dench: 46

# 25List the supporting roles (having n=2) played by Cary Grant in the 1940sin order by year

In [38]:
cary_grant_supporting_roles_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 2) & (cast['year'] // 10 == 194)]
cary_grant_supporting_roles_194s = cary_grant_supporting_roles_1940s.sort_values(by='year')
print(cary_grant_supporting_roles_194s[['year', 'character']])

        year    character
871423  1940   Nick Arden
871433  1941  Roger Adams

# 26List the leading roles available for  actors in the 1950s

In [39]:
roles_in_1950s = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959)]
num_roles_in_1950s = roles_in_1950s.shape[0]
print("Number of roles available for actors in the 1950s:", num_roles_in_1950s)

Number of roles available for actors in the 1950s: 215471

# 27List the leading roles that Cary Grant played in the 1940s in order by year.

In [40]:
cary_grant_leading_roles_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 1) & (cast['year'] // 10 == 194)]
cary_grant_leading_roles_1940s = cary_grant_leading_roles_1940s.sort_values(by='year')
print(cary_grant_leading_roles_1940s[['year', 'character']])

        year                             character
871448  1940                           Matt Howard
871407  1940                          Walter Burns
871450  1940                    C. K. Dexter Haven
871438  1941                      Johnnie Aysgarth
871452  1942                          Leopold Dilg
871429  1942                 Patrick 'Pat' O'Toole
871398  1943                         Capt. Cassidy
871422  1943  Joe Adams -posing as Joe Bascopolous
871430  1944                           Jerry Flynn
871390  1944                     Mortimer Brewster
871425  1944                            Ernie Mott
871424  1946                           Cole Porter
871427  1946                                Devlin
871444  1947                           Dick Nugent
871445  1947                                Dudley
871421  1948                         Jim Blandings
871402  1948                     Dr. Madison Brown
871411  1949                 Captain Henri Rochard

# 28 How many roles were available for actors in the 1950s?

In [41]:
actress_roles_in_1950s = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959) & (cast['type'].isin(['actress', 'female']))]
num_actress_roles_in_1950s = actress_roles_in_1950s.shape[0]
print("Number of roles available for actresses in the 1950s:", num_actress_roles_in_1950s)

Number of roles available for actresses in the 1950s: 57733

# 29 How many leading roles (n=1) were available from the beginning of film history through 1980?

In [43]:
start_year = 1900  # Adjust this as needed
leading_roles_until_1980 = cast[(cast['n'] == 1) & (cast['year'] >= start_year) & (cast['year'] <= 1980)]
num_leading_roles_until_1980 = leading_roles_until_1980.shape[0]
print("Number of leading roles (n=1) available from the beginning of film history through 1980:", num_leading_roles_until_1980)

Number of leading roles (n=1) available from the beginning of film history through 1980: 65140

# 30 How many non-leading roles were available through from the beginning of film history through 1980?

In [51]:
start_year = 1900  
non_leading_roles_until_1980 = cast[(cast['n'] != 1) & (cast['year'] >= start_year) & (cast['year'] <= 1980)]
num_non_leading_roles_until_1980 = non_leading_roles_until_1980.shape[0]
print("Number of non-leading roles (n ≠ 1) available from the beginning of film history through 1980:", num_non_leading_roles_until_1980)

Number of non-leading roles (n ≠ 1) available from the beginning of film history through 1980: 1117664

# 31 How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [44]:
minor_roles_through_1980 = cast[(cast['year'] <= 1980) & (~cast['n'].astype(str).str.isnumeric())]
num_minor_roles_through_1980 = minor_roles_through_1980.shape[0]
print("Number of roles through 1980 that did not have a numeric 'n' rank:", num_minor_roles_through_1980)

Number of roles through 1980 that did not have a numeric 'n' rank: 1182807