# 1 Manipulating using a list.

i)To add new elements to the end of list

In [2]:
first_list=[1,22,34,2]
first_list.append(576)
print(first_list)

[1, 22, 34, 2, 576]

ii)To reverse the element in the list

In [5]:
first_list=[4,7,46]
first_list.reverse()
print(first_list)

[46, 7, 4]

iii)To display the same list of the elements multiple times

In [6]:
first_list=[3,5,6]
final_list=first_list*3
print(final_list)

[3, 5, 6, 3, 5, 6, 3, 5, 6]

iv) To concatenate two lists

In [12]:
f_list=[77,73,74]
second_list=[88,84,86]
concatenated_list=f_list+second_list
print(concatenated_list)

[77, 73, 74, 88, 84, 86]

v) To sort elements in list in ascending order

In [14]:
list=[9,36,8,33]
list.sort()
print(list)

[8, 9, 33, 36]

# 2 Write a Python program to do in the tuples

i)Manipilate Using Tuple

In [15]:
Tuple1=(4,24,34,14,74)
new_tup=Tuple1+(44,54,64)
print("New Tuple",new_tup)

New Tuple (4, 24, 34, 14, 74, 44, 54, 64)

ii)To add new elements to the end of tuple

In [21]:
element=6
Tuple1 += (element,)
print(Tuple1)

(4, 24, 34, 14, 74, 6, 6, 6)

To rev elements in tuple

In [24]:
Tuple1 = Tuple1[::-1]
print(Tuple1)

(6, 6, 6, 74, 14, 34, 24, 4)

To display element of same tuple multi time

In [28]:
new_tuple = Tuple1*4
print(new_tuple)

(6, 6, 6, 74, 14, 34, 24, 4, 6, 6, 6, 74, 14, 34, 24, 4, 6, 6, 6, 74, 14, 34, 24, 4, 6, 6, 6, 74, 14, 34, 24, 4)

To conatenate 2 tuple

In [29]:
cnct_tuple = (8,56,7)
result = Tuple1 + cnct_tuple
print(result)

(6, 6, 6, 74, 14, 34, 24, 4, 8, 56, 7)

To sort the element in the list in asending order

In [31]:
sorted_tuple = tuple(sorted(Tuple1))
print("srted tuple in asending ord",sorted_tuple)

srted tuple in asending ord (4, 6, 6, 6, 14, 24, 34, 74)

# 3  Write a python program to implement following using list

1)Create the list with int(min 10 num)

In [32]:
my_list = [1,2,3,4,5,6,7,8,9,10]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

how to display last num in the list

In [33]:
last_num = my_list[-1]
print("last no ",last_num)

last no  10

command for displaying value from the list

In [35]:
values_0_6 = my_list[0:6]
print("values from the index 0 to 6",values_0_6)

values from the index 0 to 6 [1, 2, 3, 4, 5, 6]

cmd for displaying the values from the list

In [39]:
Display values from the list [2:]
value = my_list[2:]
print("values till index 5",value)

SyntaxError: invalid syntax (2226429536.py, line 1)

# 4  Write a python program tuple1=(10,50,30,40,50)

# 1) to display element 10 and 50 from tuple1

In [40]:
tuple1 = (10,50,30,40,20)
print(tuple1[0],tuple1[1])

10 50

2)to display length of tuple

In [41]:
print(len(tuple1))

5

3) to find min element from the tuple

In [42]:
min_ele = min(tuple1)
print(min_ele)

10

to add all the elements in the tuple

In [43]:
sum_ele = sum(tuple1)
print(sum_ele)

150

display same tuple multiple time

In [11]:
tuple1 = [10,50,20,40,30] 
print("The original tuple : " + str(tuple1))
N = 4
res = ((tuple1, ) * N)
print("The same tuple elements are : " + str(res))

The original tuple : [10, 50, 20, 40, 30]
The same tuple elements are : ([10, 50, 20, 40, 30], [10, 50, 20, 40, 30], [10, 50, 20, 40, 30], [10, 50, 20, 40, 30])

# 7. Python program to insert a number to any position in a list

In [14]:
my_list = [650,87,28,7786]
insert = 54
position = 2
my_list.insert(position,insert)
print(my_list)

[650, 87, 54, 28, 7786]

# 8 Python program to delete an element from a list by index

In [7]:
my_list = [5,8,97,66,76]
index_haveto_dlt = 3
if 0 <= index_haveto_dlt < len(my_list):
deleted_element = my_list.pop(index_haveto_dlt)
print(deleted_element)
else:
    print("invalid index")
    print(my_list)

IndentationError: expected an indented block after 'if' statement on line 3 (883489362.py, line 4)

# 9. Write a program to display a no from 1 to 100

In [8]:
n = int(input('Enter a number : '))
i = 1
while i <= n:
    print(i, end=" ")
    i+=1

Enter a number : 7
1 2 3 4 5 6 7

# 10. Write a Python program to find the sum of all items in a tuple

In [15]:
Tuple = (90, 40, 885, 75, 220, 20)
print("Tuple Items = ", Tuple)

Sum = sum(Tuple)
print("\nThe Sum of Tuple Items = ", Sum)

Tuple Items =  (90, 40, 885, 75, 220, 20)

The Sum of Tuple Items =  1330

# Control structure

write a python program to find first N prime numbers

In [10]:
def Prime(n):  
    for i in range(2,n//2+1):  
        if(n%i==0):  
            return(0)  
    return(1)  
  
N=int(input("Enter N:"))  
i=2 
lst=[] 
while(1):  
    if(Prime(i)):  
        lst.append(i) 
        if(len(lst)==N): 
            break 
    i+=1 
print("First "+str(N)+" Prime numbers are:",end="") 
print(*lst)

Enter N:7
First 7 Prime numbers are:2 3 5 7 11 13 17

# A list of words is given find the words from the list that have their second character is uppercase.
Is-'hello','dear','how','are','you'

In [19]:
word_list = ['hello', 'Dear', 'hOw', 'ARe', 'You']
result_words = []
for word in word_list:
    if len(word) >= 2 and word[1].isupper():
        result_words.append(word)
print("Words with the second character in uppercase:", result_words)

Words with the second character in uppercase: ['hOw', 'ARe']

# 5,6,11,13 will be submitted by today sir thanks...