# 1 Manipulating using a list.

i)To add new elements to the end of list

In [2]:
first_list=[1,22,34,2]
first_list.append(576)
print(first_list)

[1, 22, 34, 2, 576]

ii)To reverse the element in the list

In [5]:
first_list=[4,7,46]
first_list.reverse()
print(first_list)

[46, 7, 4]

iii)To display the same list of the elements multiple times

In [6]:
first_list=[3,5,6]
final_list=first_list*3
print(final_list)

[3, 5, 6, 3, 5, 6, 3, 5, 6]

iv) To concatenate two lists

In [12]:
f_list=[77,73,74]
second_list=[88,84,86]
concatenated_list=f_list+second_list
print(concatenated_list)

[77, 73, 74, 88, 84, 86]

v) To sort elements in list in ascending order

In [14]:
list=[9,36,8,33]
list.sort()
print(list)

[8, 9, 33, 36]

# 2 Write a Python program to do in the tuples

i)Manipilate Using Tuple

In [15]:
Tuple1=(4,24,34,14,74)
new_tup=Tuple1+(44,54,64)
print("New Tuple",new_tup)

New Tuple (4, 24, 34, 14, 74, 44, 54, 64)

ii)To add new elements to the end of tuple

In [21]:
element=6
Tuple1 += (element,)
print(Tuple1)

(4, 24, 34, 14, 74, 6, 6, 6)

To rev elements in tuple

In [24]:
Tuple1 = Tuple1[::-1]
print(Tuple1)

(6, 6, 6, 74, 14, 34, 24, 4)

To display element of same tuple multi time

In [28]:
new_tuple = Tuple1*4
print(new_tuple)

(6, 6, 6, 74, 14, 34, 24, 4, 6, 6, 6, 74, 14, 34, 24, 4, 6, 6, 6, 74, 14, 34, 24, 4, 6, 6, 6, 74, 14, 34, 24, 4)

To conatenate 2 tuple

In [29]:
cnct_tuple = (8,56,7)
result = Tuple1 + cnct_tuple
print(result)

(6, 6, 6, 74, 14, 34, 24, 4, 8, 56, 7)

To sort the element in the list in asending order

In [31]:
sorted_tuple = tuple(sorted(Tuple1))
print("srted tuple in asending ord",sorted_tuple)

srted tuple in asending ord (4, 6, 6, 6, 14, 24, 34, 74)

# 3  Write a python program to implement following using list

1)Create the list with int(min 10 num)

In [32]:
my_list = [1,2,3,4,5,6,7,8,9,10]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

how to display last num in the list

In [33]:
last_num = my_list[-1]
print("last no ",last_num)

last no  10

command for displaying value from the list

In [35]:
values_0_6 = my_list[0:6]
print("values from the index 0 to 6",values_0_6)

values from the index 0 to 6 [1, 2, 3, 4, 5, 6]

cmd for displaying the values from the list

In [39]:
Display values from the list [2:]
value = my_list[2:]
print("values till index 5",value)

SyntaxError: invalid syntax (2226429536.py, line 1)

# 4  Write a python program tuple1=(10,50,30,40,50)

# 1) to display element 10 and 50 from tuple1

In [40]:
tuple1 = (10,50,30,40,20)
print(tuple1[0],tuple1[1])

10 50

2)to display length of tuple

In [41]:
print(len(tuple1))

5

3) to find min element from the tuple

In [42]:
min_ele = min(tuple1)
print(min_ele)

10

to add all the elements in the tuple

In [43]:
sum_ele = sum(tuple1)
print(sum_ele)

150

display same tuple multiple time

In [11]:
tuple1 = [10,50,20,40,30] 
print("The original tuple : " + str(tuple1))
N = 4
res = ((tuple1, ) * N)
print("The same tuple elements are : " + str(res))

The original tuple : [10, 50, 20, 40, 30]
The same tuple elements are : ([10, 50, 20, 40, 30], [10, 50, 20, 40, 30], [10, 50, 20, 40, 30], [10, 50, 20, 40, 30])

# 7. Python program to insert a number to any position in a list

In [14]:
my_list = [650,87,28,7786]
insert = 54
position = 2
my_list.insert(position,insert)
print(my_list)

[650, 87, 54, 28, 7786]

# 8 Python program to delete an element from a list by index

In [7]:
my_list = [5,8,97,66,76]
index_haveto_dlt = 3
if 0 <= index_haveto_dlt < len(my_list):
deleted_element = my_list.pop(index_haveto_dlt)
print(deleted_element)
else:
    print("invalid index")
    print(my_list)

IndentationError: expected an indented block after 'if' statement on line 3 (883489362.py, line 4)

# 9. Write a program to display a no from 1 to 100

In [8]:
n = int(input('Enter a number : '))
i = 1
while i <= n:
    print(i, end=" ")
    i+=1

Enter a number : 7
1 2 3 4 5 6 7

# 10. Write a Python program to find the sum of all items in a tuple

In [15]:
Tuple = (90, 40, 885, 75, 220, 20)
print("Tuple Items = ", Tuple)

Sum = sum(Tuple)
print("\nThe Sum of Tuple Items = ", Sum)

Tuple Items =  (90, 40, 885, 75, 220, 20)

The Sum of Tuple Items =  1330

# Control structure

# 1write a python program to find first N prime numbers

In [10]:
def Prime(n):  
    for i in range(2,n//2+1):  
        if(n%i==0):  
            return(0)  
    return(1)  
  
N=int(input("Enter N:"))  
i=2 
lst=[] 
while(1):  
    if(Prime(i)):  
        lst.append(i) 
        if(len(lst)==N): 
            break 
    i+=1 
print("First "+str(N)+" Prime numbers are:",end="") 
print(*lst)

Enter N:7
First 7 Prime numbers are:2 3 5 7 11 13 17

# 12 A list of words is given find the words from the list that have their second character is uppercase.Is-'hello','dear','how','are','you'

In [19]:
word_list = ['hello', 'Dear', 'hOw', 'ARe', 'You']
result_words = []
for word in word_list:
    if len(word) >= 2 and word[1].isupper():
        result_words.append(word)
print("Words with the second character in uppercase:", result_words)

Words with the second character in uppercase: ['hOw', 'ARe']

# 2# Write the python code that calculates the salary of an employee. Prompt the user to enter the Basic Salary, HRA, TA, and DA. Add these components to calculate the Gross SalaryAlso, deduct 10% of salary from the Gross Salary to be paid as tax and display gross minus tax as net salary

In [3]:
salary, HRA, TA, and DA
basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))
gross_salary = basic_salary + hra + ta + da
tax = 0.10 * gross_salary
net_salary = gross_salary - tax
print(f"Gross Salary: {gross_salary}")
print(f"Net Salary: {net_salary}")

SyntaxError: invalid syntax (640933144.py, line 1)

# 3Write a python program to search for a string in the given list

In [7]:
string_list = ["shoes", "skirt", "gloves", "bat", "elbow"]

search_string = input("Enter a string to search for: ")

found = False

for item in string_list:
    if search_string.lower() == item.lower(): 
        found = True
        break

if found:
    print(f"The string '{search_string}' is  in the list.")
else:
    print(f"The string '{search_string}' was not  in the list.")

Enter a string to search for: hu
The string 'hu' was not  in the list.

# 4Write a Python function that accepts a string and calculates the number of upper-case letters and lower-case letters

In [9]:
def count_upper_lower(string):
    upper_count = 0
    lower_count = 0

    for char in string:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1
    
    return upper_count, lower_count

input_string = input("Enter a string: ")
upper, lower = count_upper_lower(input_string)

print(f"Number of upper-case letters: {upper}")
print(f"Number of lower-case letters: {lower}")

Enter a string: Tushar SharmaAAAA
Number of upper-case letters: 6
Number of lower-case letters: 10

# 5 Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37

In [10]:
sum_odd = 0
sum_even = 0

for num in range(12, 38):
    if num % 2 == 0:  
        sum_even += num
    else:
        sum_odd += num

print(f"Sum of even numbers btwn 12 and 37: {sum_even}")
print(f"Sum of odd numbers btwn 12 and 37: {sum_odd}")

Sum of even numbers btwn 12 and 37: 312
Sum of odd numbers btwn 12 and 37: 325

# 6 program to print table of any num

In [11]:
num = int(input("Enter a number to print its table: "))
start = 1
end = 10
print(f"table of {num}:")
for i in range(start, end + 1):
    result = num * i
    print(f"{num} x {i} = {result}")

Enter a number to print its table: 7
table of 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

# 7 to find sum of first 10 prime num's

In [12]:
def is_prime(number):
    if number <= 1:
        return False
    elif number <= 3:
        return True
    elif number % 2 == 0 or number % 3 == 0:
        return False
    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6
    return True

count = 0
number = 2
prime_sum = 0

while count < 10:
    if is_prime(number):
        prime_sum += number
        count += 1
    number += 1

print(f"sum of first 10 prime numbers is: {prime_sum}")

sum of first 10 prime numbers is: 129

# 8Write a python program to implement arithmetic operations using nested if statement.

In [14]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operation = input("Enter the operation (+, -, *, /): ")

result = None

if operation == "+":
    result = num1 + num2
elif operation == "-":
    result = num1 - num2
elif operation == "*":
    result = num1 * num2
elif operation == "/":
    if num2 != 0:
        result = num1 / num2
    else:
        print("Division by zero error ")
else:
    print("false operation entered")

if result is not None:
    print(f"Result: {result}")

Enter the first number: 7
Enter the second number: 9
Enter the operation (+, -, *, /): -
Result: -2.0

# 9Write a python program to take the temperature in Celsius and convert it to a Fahrenheit

In [18]:
celsius = float(input("Enter temperature in Celsius: "))

fahrenheit = (celsius * 9/5) + 32

print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit.")

Enter temperature in Celsius: 7
7.0 degrees Celsius is equal to 44.6 degrees Fahrenheit.

# 10 Write a python program to find a maximum and minimum number in a list without using an inbuilt function

In [20]:
numbers = [7, 2, 9, 1, 5]

max_num = numbers[0]
min_num = numbers[0]
for num in numbers:
    if num > max_num:
        max_num = num
    elif num < min_num:
        min_num = num
print(f"max num in the list: {max_num}")
print(f"min num in the list: {min_num}")

max num in the list: 9
min num in the list: 1

# 11 Write a program in python to print out the number of seconds in 30-day month 30 days, 24 hours in a day, 60 minutes per day, 60 seconds in a11

In [22]:
days_in_mnth = 30
hours_in_day = 24
mins_in_hour = 60
seconds_in_minute = 60

total_seconds = days_in_mnth * hours_in_day * mins_in_hour * seconds_in_minute

print(f"Number of seconds in a 30-day month: {total_seconds} seconds")

Number of seconds in a 30-day month: 2592000 seconds

# 12 to find sec in year

In [25]:
days_in_year = 365
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60
total_seconds = days_in_year * hours_in_day * minutes_in_hour * seconds_in_minute

print(f"Number of seconds in a year (365 days): {total_seconds} seconds")

Number of seconds in a year (365 days): 31536000 seconds

# 13 A high-speed train can travel at an average speed of 150 mph, how long will it take a train travelling at this speed to travel from London to Glasgow which is 414 miles away?

In [26]:
average_speed_mph = 150  
distance_miles = 414


time_hours = distance_miles / average_speed_mph

print(f"It will take {time_hours} hours to travel from London to Glasgow at an average speed of 150 mph.")

It will take 2.76 hours to travel from London to Glasgow at an average speed of 150 mph.

# 14Write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable. The program should then print out the total hours that you spend in school from year 7 to year 11, if each day you spend 6 hours in school days_in_each_school_year = 192

In [29]:
dayschool_year = 192 
school_years = 11 - 7 + 1 

total_hours_in_school = dayschool_year * school_years

print(f"Total hours spent in school from year 7 to year 11: {total_hours_in_school} hours")

Total hours spent in school from year 7 to year 11: 960 hours

# 15  If the age of Ram, Sam and Khan are input through the keyboard, write a python program to determine the eldest and youngest of the three

In [30]:
ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))
eldest = ram_age
youngest = ram_age


if sam_age > eldest:
    eldest = sam_age
if sam_age < youngest:
    youngest = sam_age

if khan_age > eldest:
    eldest = khan_age
if khan_age < youngest:
    youngest = khan_age

print(f"The eldest person is {eldest} years old.")
print(f"The youngest person is {youngest} years old.")

Enter Ram's age: 6
Enter Sam's age: 7
Enter Khan's age: 7
The eldest person is 7 years old.
The youngest person is 6 years old.

# 16Write a python program to rotate a list by right n times with and without slicing technique

In [34]:
def rotate_list_right_with_slicing(lst, n):
    n = n % len(lst) 
    return lst[-n:] + lst[:-n]

original_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = rotate_list_right_with_slicing(original_list, n)
print(f"Original List: {original_list}")
print(f"Rotated List (right by {n} times with slicing): {rotated_list}")

Original List: [1, 2, 3, 4, 5]
Rotated List (right by 2 times with slicing): [4, 5, 1, 2, 3]

without using slicing teq

In [35]:
def rotate_list_right_without_slicing(lst, n):
    n = n % len(lst) 
    for _ in range(n):
        temp = lst[-1]
        for i in range(len(lst) - 1, 0, -1):
            lst[i] = lst[i - 1]
        lst[0] = temp
    return lst

# 17 programs for pattern

In [36]:
for i in range(1, 6):
    for j in range(i):
        print(i, end="")
    print()


for i in range(1, 6):
    for j in range(1, i):
        print(j, end=" ")
    print(i, end=" ")
    for j in range(i - 1, 0, -1):
        print(j, end=" ")
    print()

1
22
333
4444
55555
1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [37]:
word = "Python"
for i in range(1, len(word) + 1):
    print(word[:i])

P
Py
Pyt
Pyth
Pytho
Python

In [38]:
n = 7  

for i in range(1, n + 1):

    for j in range(n - i):
        print(" ", end="")

    for k in range(i):
        print("*", end="")

    print()

      *
     **
    ***
   ****
  *****
 ******
*******

In [39]:
n = 5  
for i in range(1, n + 1):
   
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

# 13.pending ques  A dictionary of names and their weights on earth is given. Find how much they will weigh on the

moon(Use map and lambda functions) Formula: wMoon (wEarth GMoon) / GEarth

i

#Weight of people in kg

WeightOnEarth = ('John':45, 'Shelly':65, Marry':35)

ii) # Gravitational force on the Moon: 1.622 m/s2

GMoon = 1.622

# Gravitational force on the Earth: 9.81 m/s2

GEarth = 9.81

In [40]:
WeightOnEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}
GMoon = 1.622


GEarth = 9.81
WeightOnMoon = list(map(lambda x: x[1] * GMoon / GEarth, WeightOnEarth.items()))

for name, weight in zip(WeightOnEarth.keys(), WeightOnMoon):
    print(f"{name}'s weight on the Moon: {weight:.2f} kg")

John's weight on the Moon: 7.44 kg
Shelly's weight on the Moon: 10.75 kg
Marry's weight on the Moon: 5.79 kg

# Pending 11th Create a dictionary containing three lambda functions square, cube and square root. iE.g. dict = {Square'function for squaring'Cube: function for cube, "Squareroot': function for square root)  ii) Pass the values (input from the user) to the functions in the dictionary respectively then add the outputs of each function and print it

In [41]:
func_dict = {
    'Square': lambda x: x ** 2,
    'Cube': lambda x: x ** 3,
    'SquareRoot': lambda x: x ** 0.5
}
user_input = float(input("Enter a number: "))

results = [func(user_input) for func in func_dict.values()]

result_sum = sum(results)

for key, value in func_dict.items():
    print(f"{key}({user_input}) = {value(user_input)}")

print(f"Sum of all results: {result_sum}")

Enter a number: 7
Square(7.0) = 49.0
Cube(7.0) = 343.0
SquareRoot(7.0) = 2.6457513110645907
Sum of all results: 394.6457513110646